
.title {
    font-family: impact ;
    font-size: 50px;
    border-bottom: 2px solid white;
    background-color: transparent;
    padding: 1px;
    color: white;
    
}
.master-item {
    font-size: 24px;
    border-bottom: 5px solid #FFFFFF;
    padding: 5px;   
    color:#FFFFFF; 
}

.text-center {
    text-align: center;
}
.master-item:hover, .active-item {
    background: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    color: white;
    cursor: pointer
}

.master {
    padding: 25px;
    border:none;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

.hidden-md {
    display: inline
}

.hidden-md-down {
    display:none
}

/* For phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}

.detail{
    font-size: 25px;
    font-family: impact;
    padding: 25px;
    box-sizing: border-box;
    position: static;
    z-index: 11;
    color: black;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")  ;
    text-align: center;
    overflow-y: auto;
}

.md-container  {
    position: relative;
}

/* #back-btn {
    color: #4CD4B0;
    border: 1px solid #4CD4B0;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

#back-btn:hover {
    cursor: pointer;
    color: white;
    background: #4CD4B0;
} */


/* For 786 and above: */
@media only screen and (min-width: 768px) {
   
    /* .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;} */
    .col-3 {width: 25%;}
    /* .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;} */
    .col-9 {width: 75%;}
    /* .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} */

    .hidden-md {
        display: none;
    }

    .detail {
        position: static;
    }

    .master{
        border-right: 3px solid #FFFFFF;
    }
}

/* Hannahs tester CSS */

h1{
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
}

#form-container{

    text-align: center;
}

body{
    background-image: url('https://images.unsplash.com/photo-1529473814998-077b4fec6770?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    margin: 100px;
}

#book-bar{
    font-family: impact;
    color: white;
    font-size: 55px;
    background-color: transparent;
    padding-top: 0;
    text-shadow: 2px 2px 20px #000000;
    
}

#search-result-title{
    background-color: transparent;
}

form{
    font-size: 16px;
    font-weight: 300 ;
    color: #333;
    line-height: 1.625;
     
    background-color: #fff;
    

    background-repeat: no-repeat;
    background-position: 95% 50%;
     
    border: 1px solid #eee;
    border-radius: 4px;
     
    width: 100% 
    padding: 15px;
    cursor: auto;
}


  
  /* form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
  }
  */